.upgrade-button {
  display: none !important;
}

.g-right {
  width: 45% !important;
}

.g-center {
  right: 45% !important;
}

.lists {
  padding-bottom: 0 !important;
}

.advanced-counter {
  position: absolute;
  font-size: 12px;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  box-sizing: content-box;
  border-radius: 12px;
  width: 12px;
  text-align: center;
  color: #c1d1d1;
}